* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v78_359 {
  width: 390px;
  height: 700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_360 {
  width: 390px;
  height: 64px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_361 {
  width: 100px;
  height: 64px;
  background: rgba(255,244,0,1);
  opacity: 1;
  position: relative;
  top: -64px;
  left: 0px;
  overflow: hidden;
}
.v78_362 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: -11px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
#form1 {
  width: 350px;
  height: 40px;
  font-size: 20px;
  position:relative;
      top:-10px;
			left:15px;
}
#form1::placeholder {
  text-align: center;
  color: rgba(0,0,0,0.3);
}
#form2 {
  width: 300px;
  height: 40px;
  font-size: 20px;
  position:relative;
			left:0px;
}
#form2::placeholder {
  text-align: center;
  color: rgba(0,0,0,0.3);
}
#form3 {
  width: 300px;
  height: 40px;
  font-size: 20px;
  position:relative;
			left:0px;
}
#form3::placeholder {
  text-align: center;
  color: rgba(0,0,0,0.3);
}
#form4 {
  width: 300px;
  height: 40px;
  font-size: 20px;
  position:relative;
      top:200px;
			left:15px;
}
#form4::placeholder {
  text-align: center;
  color: rgba(0,0,0,0.3);
}
#form5 {
  width: 300px;
  height: 40px;
  font-size: 16px;
  position:relative;
      top:225px;
			left:15px;
}
#form5::tag {
  text-align: center;
  color: rgba(0,0,0,0.3);
}
#form6 {
  font-size: 20px;
  position:relative;
      top:250px;
			left:15px;
}
textarea::placeholder {
  text-align: center;
  position:relative;
      top:75px;
  font-size: 1em;
  color: rgba(0,0,0,0.3);
}
textarea {
  resize: none;
  width:300px;
  height:200px;
  font-size: 1.2em;
}
.v78_363 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 15px;
  overflow: hidden;
}
.v78_364 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v78_365 {
  width: 360px;
  color: rgba(0,0,0,0.25);
  position: relative;
  top: -35px;
  left: 80px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_366 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 15px;
  overflow: hidden;
}
.v78_367 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v78_368 {
  width: 360px;
  color: rgba(0,0,0,0.25);
  position: relative;
  top: -35px;
  left: 120px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_369 {
  width: 355px;
  height: 40px;
  background: url("../images/v78_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 15px;
  overflow: hidden;
}
.v78_370 {
  width: 300px;
  height: 40px;
  background: url("../images/v78_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v78_371 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 303px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_372 {
  width: 120px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  top: 6px;
  left: 93px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_373 {
  width: 355px;
  height: 40px;
  background: url("../images/v78_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 15px;
  overflow: hidden;
}
.v78_374 {
  width: 120px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  top: 6px;
  left: 93px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_375 {
  width: 300px;
  height: 40px;
  background: url("../images/v78_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v78_376 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 303px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_377 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 15px;
  overflow: hidden;
}
.v78_378 {
  width: 360px;
  height: 40px;
  background: url("../images/v78_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v78_379 {
  width: 48px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  top: 6px;
  left: 156px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_380 {
  width: 48px;
  color: rgba(0,0,0,0.25);
  position: absolute;
  top: 574px;
  left: 171px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v78_381 {
  width: 360px;
  height: 174px;
  background: url("../images/v78_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 501px;
  left: 15px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
