* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v75_37 {
  width: 100%;
  height: 700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_38 {
  width: 766px;
  height: 591px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 386px;
  overflow: hidden;
}
.v75_357 {
  width: 758px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 8px;
  overflow: hidden;
}
.v75_358 {
  width: 758px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_355 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 57px;
  overflow: hidden;
}
.v75_356 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_353 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 163px;
  overflow: hidden;
}
.v75_354 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_351 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 269px;
  overflow: hidden;
}
.v75_352 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_349 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 17px;
  overflow: hidden;
}
.v75_350 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_347 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 123px;
  overflow: hidden;
}
.v75_348 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_345 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 155px;
  overflow: hidden;
}
.v75_346 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_343 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 49px;
  overflow: hidden;
}
.v75_344 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_341 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 57px;
  overflow: hidden;
}
.v75_342 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_339 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 163px;
  overflow: hidden;
}
.v75_340 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_337 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 269px;
  overflow: hidden;
}
.v75_338 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_335 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 17px;
  overflow: hidden;
}
.v75_336 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_333 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 123px;
  overflow: hidden;
}
.v75_334 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_331 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 155px;
  overflow: hidden;
}
.v75_332 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_329 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 49px;
  overflow: hidden;
}
.v75_330 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_327 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 57px;
  overflow: hidden;
}
.v75_328 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_325 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 163px;
  overflow: hidden;
}
.v75_326 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_323 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 269px;
  overflow: hidden;
}
.v75_324 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_321 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 17px;
  overflow: hidden;
}
.v75_322 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_319 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 123px;
  overflow: hidden;
}
.v75_320 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_317 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 155px;
  overflow: hidden;
}
.v75_318 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_315 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 49px;
  overflow: hidden;
}
.v75_316 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_313 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 57px;
  overflow: hidden;
}
.v75_314 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_311 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 163px;
  overflow: hidden;
}
.v75_312 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_309 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 269px;
  overflow: hidden;
}
.v75_310 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_307 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 17px;
  overflow: hidden;
}
.v75_308 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_305 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 123px;
  overflow: hidden;
}
.v75_306 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_303 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 155px;
  overflow: hidden;
}
.v75_304 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_301 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 49px;
  overflow: hidden;
}
.v75_302 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_299 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 57px;
  overflow: hidden;
}
.v75_300 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_297 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 163px;
  overflow: hidden;
}
.v75_298 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_295 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 482px;
  left: 269px;
  overflow: hidden;
}
.v75_296 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_293 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 82px;
  left: 17px;
  overflow: hidden;
}
.v75_294 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_291 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 82px;
  left: 123px;
  overflow: hidden;
}
.v75_292 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_289 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 82px;
  left: 155px;
  overflow: hidden;
}
.v75_290 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_287 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 82px;
  left: 49px;
  overflow: hidden;
}
.v75_288 {
  width: 30px;
  color: rgba(37,44,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_75 {
  width: 666px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 17px;
  overflow: hidden;
}
.v75_285 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_286 {
  width: 30px;
  color: rgba(225,30,30,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_283 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 106px;
  overflow: hidden;
}
.v75_284 {
  width: 30px;
  color: rgba(109,118,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_281 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  overflow: hidden;
}
.v75_282 {
  width: 30px;
  color: rgba(109,118,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_279 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v75_280 {
  width: 30px;
  color: rgba(109,118,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_277 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  overflow: hidden;
}
.v75_278 {
  width: 30px;
  color: rgba(109,118,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_275 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 180px;
  overflow: hidden;
}
.v75_276 {
  width: 30px;
  color: rgba(109,118,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_273 {
  width: 30px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 286px;
  overflow: hidden;
}
.v75_274 {
  width: 30px;
  color: rgba(232,14,14,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v75_83 {
  width: 737px;
  height: 500px;
  background: url("../images/v75_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 17px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v75_270 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 17px;
  overflow: hidden;
}
.v75_271 {
  width: 30px;
  height: 30px;
  background: rgba(24,160,251,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v75_272 {
  width: 30px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_95 {
  width: 386px;
  height: 634px;
  background: rgba(201,255,226,0.46000000834465027);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v75_96 {
  width: 389px;
  height: 1112px;
  background: url("../images/v75_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 14px;
  overflow: hidden;
}
.v75_97 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_99 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_100 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_102 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_103 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_105 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_106 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_108 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_109 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_111 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_112 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_114 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_115 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_117 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_118 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_120 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_121 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_123 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_124 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_126 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_127 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_129 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_130 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_132 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_133 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_135 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_136 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_138 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_139 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 588px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_141 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_142 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_144 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_145 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_147 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_148 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_150 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_151 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_153 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_154 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_156 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_157 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_159 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_160 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 882px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_162 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_163 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 924px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_165 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_166 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 966px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_168 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_169 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1007px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_171 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_172 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1049px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_174 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_175 {
  width: 389px;
  height: 22px;
  background: url("../images/v75_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1090px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v75_177 {
  width: 48px;
  color: rgba(0,0,0,0.30000001192092896);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_178 {
  width: 129px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 137px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v75_179 {
  width: 195px;
  height: 929px;
  background: url("../images/v75_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 89px;
  overflow: hidden;
}
.v75_180 {
  width: 65px;
  height: 929px;
  background: url("../images/v75_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v75_181 {
  width: 65px;
  height: 929px;
  background: rgba(251,129,129,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_182 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_183 {
  width: 65px;
  height: 119px;
  background: url("../images/v75_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 130px;
  overflow: hidden;
}
.v75_184 {
  width: 65px;
  height: 119px;
  background: rgba(129,251,156,0.7799999713897705);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_185 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v75_186 {
  width: 65px;
  height: 631px;
  background: url("../images/v75_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_187 {
  width: 65px;
  height: 631px;
  background: rgba(251,246,129,0.5299999713897705);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v75_188 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
